<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-sm-8 d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-body">
                    <img class="rounded mx-auto d-block" src="{% static 'images/easystock_logo.PNG' %}">
                    <hr>
                    <h5 class="card-title text-center">Acceso al sistema</h5>
                    {% if form.errors %}
                        <p class="text-danger text-center">El nombre del usuario o la contraseña son incorrectas.</p>
                    {% endif %}
                    <form role="form" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nombre de usuario" name="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" name="password" type="password" value="">
                            </div>

                            <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> &ensp; Acceder </button>
                            <a href="{% url 'password_reset' %}" class="d-flex justify-content-center mt-2">¿Olvidaste tu contraseña?</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}