<!--#templates/registration/password_reset_complete.html-->

{% extends 'base.html' %}

{% block title %}Password reset Done{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-sm-8 col-lg-6 border border-primary rounded p-2 bg-light">
            <h5 class="text-center p-2 text-white bg-primary rounded">Reestablecimiento de contraseña completado</h5>
            <p class="text-center">
                Tu contraseña ha sido reestablecida exitosamente.
            </p>
            <p class="text-center">
                Por favor intentan iniciar sesión de nuevo con el siguiente <a href="{% url 'login' %}">enlace</a>
            </p>
        </div>
    </div>
{% endblock %}