<!--#templates/registration/password_reset_confirm.html-->
{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-sm-8 d-flex justify-content-center">
            <div class="card w-50">
                {% if validlink %}
                    <div class="card-body">
                        <h5 class="card-title text-center">Cambio de contraseña</h5>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <form role="form" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label for="id_new_password1">Contraseña nueva:</label>
                                    <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1">
                                </div>
                                <div class="form-group">
                                    <label for="id_new_password2">Contraseña nueva (confirmación):</label>
                                    <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2">
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit">
                                    <i class="fas fa-key"></i> &ensp; Cambiar
                                </button>
                            </fieldset>
                        </form>
                    </div>
                {% else %}
                    <div class="card-body">
                        <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}