<!--templates/registration/password_reset_done.html-->

{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-sm-8 col-lg-6 border border-primary rounded p-2 bg-light">
            <h5 class="text-center p-2 text-white bg-primary rounded">¡Correo enviado con éxito!</h5>
            <p class="text-center">
                El correo electrónico con las instrucciones para reestablecer una contraseña ha sido enviado. Si existe una
                cuenta con la dirección de correo electrónico que nos proporcionó, debería recibirlo pronto.
            </p>
            <p class="text-center">
                Si no está recibiendo el correo electrónico, por favor cerciórese de que nos proporcionó de la dirección con
                la que fue registrado en el sistema. También fijese en la carpeta de spam (correo no deseado).
            </p>
        </div>
    </div>
{% endblock %}