<!-- costo_vs_venta.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {% if perms.contenttypes.view_estadisticas %}
            {% include 'includes/navBar.html' %}
            <br><br>
            <div class="row mt-3">
                <div class="col-md-1 hidden-sm-down"></div>
                <div class="col-md-10 col-sm-12">
                    <div id="grafico_costo_venta_ganancia"></div>
                    <hr>
                    {% include 'estadisticas/botones_footer.html' %}
                </div>
                <div class="col-md-1 hidden-sm-down"></div>
            </div>
            <script src="{% static 'js/graficos/ganancias.js' %}"></script>
        {% else %}
            {% include 'includes/sinPermiso.html' %}
        {% endif %}
    {% else %}
        {% include 'registration/notLogin.html' %}
    {% endif %}
{% endblock %}